
    .navStyle {
      list-style-type: 'none';
      margin: 0;
      padding: 0;
      display: 'flex';
      flex-direction: 'row';
      width: '100%';
    } 
 
    .tuneicon{
      float: right;
    }

    .ruleTable {
      padding-bottom: "0px !important";
      margin-bottom: "-16px"
    } 
    .MuiToolbar-gutters {
      padding: "0px !important"
    }
    .MuiTextField-root {
      border: "1px solid #ccc";
      border-radius: 4px;
      padding-left : 8px;
    }
    .MuiInput-underline:before {
      display: "none"
    }
    .MuiInput-underline:after {
      display: "none"
    }
    .MuiIconButton-root:hover {
      background: "transparent"
    }
    .MuiTouchRipple-root {
      display: "none"
    }
    table {
      border-collapse: separate !important;
      border-spacing: 0 15px !important;
      
    }
    th {
      padding: "0px 16px" !important;
    }
    td {
      border-bottom :0;
    }
    .MuiPaper-root {
      box-shadow: none;
      background: transparent ;
    }
    .MuiTablePagination-caption {
      display: unset !important;
      position: absolute;
      color: #a9b2c3;
    }
    .MuiTableCell-footer {
      border-bottom: 0px;
    }
    .MuiTablePagination-selectRoot {
      background: #282a73;
      border-radius: 20px;
      color: #fff;
    }
    .MuiTablePagination-selectRoot svg{
      color: "#fff";
    }
    .MuiButton-contained.Mui-disabled {
      background: transparent;
    }

    .rulesSearchAdd {
      float: "right",
    }
    .tableAddIcon {
      height: 32
    }
    .editDeleteIcon  img{
       width: 16px;
       height: 16px
     }
    .marginLeft {
      margin-left: 16px;
  }
  .MuiPaper-elevation2{
    box-shadow:none !important;
    background: transparent !important;
  }
  